/* Write your CSS code here */

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo {
  width: 70px;
}
.wave-heading {
  font-family: 'Roboto';
  font-size: 20px;
  color: #12022f;
  padding-left: 10px;
  font-weight: 700;
}
.list-container {
  list-style-type: none;
  display: flex;
  padding-right: 20px;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.list-type {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 600;
  color: #12022f;
  padding-left: 8px;
  text-decoration: none;
}
